body{
    font-family: 'Montserrat'!important;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper{
    padding-left: 100px;
    margin: auto 0;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    padding-bottom: 20px;
}

.share-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    padding-left: 20px;
    font-size: 25px;
}

.icon{
    color: rgb(85, 85, 85); 
}

.icon:hover{
    color: black;
}
@media only screen and (max-width: 880px) {
    .img-fluid{
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column-reverse;
        padding-top: 0px;
    }

    .wrapper{
        padding-left:0px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 550px) {
    iframe{
        width: 400px;
        margin:auto;
    }
}

@media only screen and (max-width: 420px) {
    iframe{
        width: 320px;
        margin:auto;
    }
}