html,
body {
 height: 100%;
 position: relative;
}
.site-content {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 350px; /* height of your footer */
}

.footer{
    background: rgb(41, 41, 41);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-content{
    color: white;
    font-weight: 800;
    font-size: 14px;
    height: 80%;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-top: 30px;
}

.footer-share{
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.share{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 17.5px;
}

.footer-icon{
    font-size: 25px;
    padding-right: 40px;
    color: white;
    opacity: 0.8;
}

.footer-icon:hover{
    opacity: 1;
}

.footer-copyright{
    background: rgb(29, 29, 29);
    color: white;
    font-weight: 800;
    font-size: 14px;
    margin-top: 10px;
    padding-top: 40px;
    display: flex;
}

.copyright{
    font-weight: 500;
    padding-left: 40px;
    font-size: 15px;
    position: relative;
    top: -20px;
}

.copyright-link{
    text-decoration: none !important;
    color: rgb(194, 194, 194);
}

.copyright-link:hover{
    color: rgb(228, 228, 228);
}

.links,
.coord{
    display: flex;
    flex-direction: column;
}

.info{

}

.links,
.coord{
    padding-left: 7%;
}

.link{
    text-decoration: none !important;
    color: rgb(179, 179, 179);
    font-weight: 500;
    font-size: 15px;
}

.link-div{
    padding-bottom: 10px;
    position: relative;
    left: 10px;
}

.link:hover{
    color: rgb(233, 233, 233);
}

.link-title{
    padding-bottom: 10px;
    font-size: 20px ;
    color: rgb(228, 228, 228);
}

.info-text{
    color: rgb(179, 179, 179);
    font-weight: 500;
    font-size: 15px;
}

.arrow{
    padding-right: 5px;
    color: rgb(33, 40, 136);
}

@media only screen and (max-width: 980px) {
    .footer-content {
        flex-direction: column;
    }

    .links,
    .coord{
        padding-left: 0px;
    }

    .site-content{
        padding-bottom: 750px;
    }
}

@media only screen and (max-width: 700px) {
    .footer-copyright{
        flex-direction: column-reverse;
        
    }

    .share{
        position: unset !important;
        margin: auto;
        margin-bottom: 15px;
    }

    .copyright{
        position: unset;
        padding-left: 0px;
        margin: auto;
        margin-bottom: 15px;
    }
}