.footer{
    background: rgb(41, 41, 41);
    height: 350px ;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-content{
    color: white;
    font-weight: 800;
    font-size: 14px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 7%;
    position: relative;
    top: 12%;
}

.footer-share{
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.share{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

.footer-icon{
    font-size: 25px;
    padding-right: 40px;
    color: white;
    opacity: 0.8;
}

.footer-icon:hover{
    opacity: 1;
}

.footer-copyright{
    background: rgb(29, 29, 29);
    color: white;
    font-weight: 800;
    font-size: 14px;
    height: 20%;
    width: 100%;
    margin-top: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;    
    z-index: 0;
    position: relative;
    bottom: 0px;
}

.copyright{
    font-weight: 500;
    padding-left: 40px;
    font-size: 15px;
    position: relative;
    top: 5px;
}

.copyright-link{
    text-decoration: none !important;
    color: rgb(194, 194, 194);
}

.copyright-link:hover{
    color: rgb(228, 228, 228);
}

.links,
.coord{
    display: flex;
    flex-direction: column;
}

.info{

}

.links{
    padding-left: 7%;
}

.coord{
    padding-left: 7%;
}

.link{
    text-decoration: none !important;
    color: rgb(179, 179, 179);
    font-weight: 500;
    font-size: 15px;
}

.link-div{
    padding-bottom: 10px;
    position: relative;
    left: 10px;
}

.link:hover{
    color: rgb(233, 233, 233);
}

.link-title{
    padding-bottom: 10px;
    font-size: 20px ;
    color: rgb(228, 228, 228);
}

.info-text{
    color: rgb(179, 179, 179);
    font-weight: 500;
    font-size: 15px;
}

.arrow{
    padding-right: 5px;
    color: rgb(33, 40, 136);
}