body{
    font-family: 'Montserrat'!important;
}

.members-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.groups-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    padding-top: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 824px;
}

.groups-container a {
    color: #ffffff;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    border-radius: 8px;
    border: 0;
    height: 400px;
    width: 400px;
    text-decoration: none;
}

.groups-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

.groups-container a div {
    display: flex;
    flex-direction: column;
}

.groups-container a div h2 {
    color: #ffffff;
    align-self: center;
    text-align: center;
    transition-duration: 500ms;
    
}

.groups-container a div p {
    display: block;
    opacity: 0;
    transition-duration: 500ms;
    
}

.groups-container a:hover div h2 {
    display: block;
    transition-duration: 500ms;
    transform: translateY(-50px);
    
    
}
.groups-container a:hover div p {
    display: block;
    transition-duration: 500ms;
    transform: translateY(-50px);
    opacity: 1;
    
    
    
}