body{
    font-family: 'Montserrat'!important;
}

.text,
.title{
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: 900;
    padding-top: 30px;
    margin-bottom: 50px;
}

.text{
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%; 
    font-weight: 600;
}

.members-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.groups-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    padding-top: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 824px;
}

.groups-container a {
    color: #ffffff;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    border-radius: 8px;
    border: 0;
    height: 400px;
    width: 400px;
    text-decoration: none;
}

.groups-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

.groups-container a div {
    display: flex;
    flex-direction: column;
}

.groups-container a div h2 {
    color: #ffffff;
    align-self: center;
    text-align: center;
    transition-duration: 500ms;
    
}

.groups-container a div p {
    display: block;
    opacity: 0;
    transition-duration: 500ms;
    
}

.groups-container a:hover div h2 {
    display: block;
    transition-duration: 500ms;
    transform: translateY(-50px);
    
    
}
.groups-container a:hover div p {
    display: block;
    transition-duration: 500ms;
    transform: translateY(-50px);
    opacity: 1;
    
    
    
}

@media only screen and (max-width: 880px) {
    .groups-container{
        display: flex;
        flex-direction: column;
    }

    .groups-container a{
        margin:auto;
    }

    .text{
        margin-left: 5%;
        margin-right: 5%; 
    }

}

@media only screen and (max-width: 450px) {
    .groups-container a{
        height: 300px!important;
        width: 300px !important;
    }

    .last{
        margin-bottom: 30px;
    }

    .text{
        margin-left: 3%;
        margin-right: 3%; 
    }

}

@media only screen and (max-width: 800px) {
    .img-fluid{
        display: none;
    }

    .title{
        padding-top: 50px;
    }
}