body{
    font-family: 'Montserrat'!important;
}

.container {
    width: 100%;
    max-width: 300px;
    padding: 0 30px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}

.carousel {
    padding-bottom: 30px;
}
.div-membros{
    display: flex;
    justify-content: space-between;
}

.container-membros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 2em;
    width: 100%;
    padding: 0 30px;
    margin: 32px auto
}
.cards-container {
    display: flex;
    flex-direction: row;
}

.item-name {
    color: #000;
}

.item-description {
    color: #000;
}
