body{
    font-family: 'Montserrat'!important;
}

.container {
    width: 100%;
    max-width: 300px;
    padding: 0 30px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
}

.carousel-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    align-self: center;
    padding: 30px;
}

.item-name {
    color: #000;
}

.item-description {
    color: #000;
}