<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Capítulo Estudantil PELS UFRJ">
    <link href="/css/diretoria.css" rel="stylesheet" type="text/css"/>
    <link href="/css/member_modal.css" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Diretoria</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/js/initialize.js" type="module"></script>
      <script src="./js/popupController.js"></script>
  </head>
  <body>
    <div class="site-content">     
      <div id="header">{% include "header.html" %}</div>
      <img class="img-fluid" width="100%" height="400px" alt="PELS" src ="/images/Diretoria.png">
        <br>
        <br>
        <div id="site-content" class="page-wrapper">
          <div class="text-div">
          <h2 class="title">Sobre nós</h2>
          <p class = "text">A Diretoria é o grupo que lidera o Capítulo participando das decisões sobre os futuros eventos e projetos da equipe e garante que todas as coordenações caminhem bem integradas. É composta pelo Presidente e Vice-Presidente que são responsáveis pelas decisões, pela maior parte das comunicações do Capítulo com parceiros e por organizar essas parcerias, e pelo monitoramento do andamento das metas estipuladas pela diretoria. Além disso, o Secretário é responsável pela documentação de todos os passos e decisões tomadas, e o Tesoureiro tem a missão de cuidar de todo o recurso financeiro do Capítulo e repassá-lo para as Coordenações de acordo com a demanda.
          </p><br>
          </div>
        </div>
          <div class="container">
            <h2 class="text-center">Equipe</h2><br>
            <br>
      <h4 class="text-center">Conselheiro</h4>
      <div class="wrapper">
        <div class="linha">
          <div class="pessoa">
            <a data-name="Prof. Edson H. Watanabe"
              data-lattes='http://lattes.cnpq.br/6308173225779684'
              data-photo='./images/watanabe.png'
              onclick="openModal(this)">
              <img src="./images/watanabe.png">
              <p>Visualizar Membro</p>
            </a>   
            <p>Prof. Edson H. Watanabe</p>
          </div>         
        </div>
      </div>
          </div>
              <div class="wrapper">
                <div class="linha">
                  <div class="pessoa">
                    <a data-name="Laís Crispino Proença" 
                      data-linkedin="https://www.linkedin.com/in/laís-crispino-proença-36b9b88b"
                      data-photo='./images/lais.png'
                      onclick="openModal(this)">
                      <img src="./images/lais.png">
                      <p>Visualizar Membro</p>
                    </a>
                    <p>Laís Crispino Proença</p>
                    <p><b>Chair</b></p>
                  </div>
                  <div class="pessoa">
                    <a data-name="Vinícius Moraes" 
                      data-email='viniciustmoraes@poli.ufrj.br'  
                      data-photo='./images/vinicius.png'
                      onclick="openModal(this)">
                      <img src="./images/vinicius.png">
                      <p>Visualizar Membro</p>
                    </a>
                    <p>Vinícius Moraes</p>
                    <p><b>Vice-Chair</b></p>
                  </div>
                  <div class="pessoa">
                    <a data-name="Luiz Felipe Corrêa" 
                      data-email='luizfelipecss@poli.ufrj.br'  
                      data-photo='./images/luizfelipe.png'
                      onclick="openModal(this)">
                      <img src="./images/luizfelipe.png">
                      <p>Visualizar Membro</p>
                    </a>
                    <p>Luiz Felipe Corrêa</p>
                    <p><b>Tesoureiro</b></p>
                  </div>
                  <div class="pessoa">
                    <a data-name="Thiago Pinheiro" 
                      data-linkedin="https://www.linkedin.com/in/tiagoengenhariaeletrica"
                      data-photo='./images/thiago.png'
                      onclick="openModal(this)">
                      <img src="./images/thiago.png">
                      <p>Visualizar Membro</p>
                    </a>
                    <p>Thiago Pinheiro</p>
                    <p><b>Secretário</b></p>
                  </div>
                </div>
              </div>   
          <div id="footer">{% include "footer.html" %}</div>  
    </div>
            <!--MODAL START-->
            <div class="popup" id="popup-1">
              <div class="overlay" id="overlay"></div>
              <div class="content" id="modal">
                <div class="member">
                  <img class="member-photo" id='member-img'>
                  <h1 class="member-name" id='name'>Nome do Membro</h1>
                </div>
                <div class="member-data">
                  <h1>Dados do membro</h1>
                  <div class='email-div' id='email-div'>
                    <p>Email: </p>
                    <p id='email'></p>
                  </div>
                  <div class='lattes-div' id='lattes-div'>
                    <p>Lattes: </p>
                    <a id='lattes' target="_blank"></a>
                  </div>
                  <div class='linkedin-div' id='linkedin-div'>
                    <p>Linkedin: </p>
                    <a id='link' target="_blank"></a>
                  </div>
                  <div class='website-div' id='website-div'>
                    <p>Site: </p>
                    <a id='website' target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
            <!--MODAL END-->
  </body>
</html>
