
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
  />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>header</title>
<link href="/css/header.css" rel="stylesheet" type="text/css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/navbarController.js"></script>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="navbar-brand" id="title-icon">
    <img class="pels-icon" alt="PELS" src ="/images/logo_oficial.png">

  </div>
  <div class="navbar-brand text-white" id="title">
    SBC IEEE PELS/IAS UFRJ

  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse items-div" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active navbar-item">
        <a class="nav-link text-white" id="home" href="/">Home</a>
      </li>

      <li class="nav-item dropdown navbar-item">
        <div class="dropbtn text-white" id="equipe" onmouseover="HoverOpacity(this)" onmouseout="UnhoverOpacity(this)">
          <p>Equipe</p>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="dropdown-content">
          <a href="membros">Estrutura</a>
          <a href="join-us">Sugestões</a>
          <a href="login">Login</a>
        </div>
      </li>

      <li class="nav-item dropdown navbar-item">
        <div class="dropbtn text-white" id="coordenacoes" onmouseover="HoverOpacity(this)" onmouseout="UnhoverOpacity(this)">
          <p>Coordenações</p>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="dropdown-content">
          <a href="projetos">Projetos</a>
          <a href="marketing">Marketing</a>
          <a href="atividades_academicas">Atividades Acadêmicas</a>
          <a href="diretoria">Diretoria</a>
        </div>
      </li>

      <li class="nav-item navbar-item">
        <a class="nav-link text-white" id="contato" href="contato">Contato</a>
      </li>
      <li class="nav-item navbar-item">
        <a class="nav-link text-white" id="blog" href="blog">Blog</a>
      </li>
      <li class="navbar-item border-left"></li>
      <div class="social-media-container">
        <li class="nav-item navbar-icon" id="facebook">
          <a class="nav-link text-white" id="facebook-icon" href="https://www.facebook.com/ufrjpels"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item navbar-icon" id="insta">
          <a class="nav-link text-white" id="insta-icon" href="https://www.instagram.com/pelsias.ufrj/?hl=pt-br"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item navbar-icon" id="linkedin">
          <a class="nav-link text-white" id="linkedin-icon" href="https://www.linkedin.com/company/pels-ufrj/"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="nav-item navbar-icon" id="youtube">
          <a class="nav-link text-white" id="youtube-icon" href="https://www.youtube.com/channel/UCJKbHtELOOE_molSxbkS51w"><i class="fab fa-youtube"></i></a>
        </li>
      </div>
    </ul>
  </div>
</nav>

