<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta name="Description" content="Capítulo Estudantil PELS UFRJ">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
      <link href="/css/login.css" rel="stylesheet" type="text/css"/>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <title>Login</title>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/js/loginForm.js" type="module"></script>  
        
    </head>
    <body>
      <div class="site-content">
        <div id="header">{% include "header.html" %}</div>
        <img class="img-fluid" width="100%" height="400px" alt="PELS" src ="/images/Blog.png">
        
        <div class="form-container">
            <div class="form-title">
                Entrar
            </div>
            <div class="register-dialog">
                <p>Login para a pagina Admin</p>
                <!-- <a href="/register">Inscreva-se Gratuitamente</a> -->
            </div>
            <form class="form" id='form' method="POST">
                <div class="form-item">
                    <input class="input" name='username' placeholder="Nome de Usuário">
                </div>
                <div class="form-item">
                    <input class="input" name='password' type="password" placeholder="Senha">
                </div>
                <a href="#" class="forgot-password">Esqueceu Sua Senha?</a>
                <button id="submit" class="btn">ENTRAR</button>
            </form>
        </div>
      </div>
    </body>

</html>
