<!DOCTYPE html>
<html lang="pt-br">
    <!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="Capítulo Estudantil PELS UFRJ">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="/css/membros.css" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Membros</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/js/initialize.js" type="module"></script>
  </head>
  
  <body>
    <div class="site-content">
      <div id="header">{% include "header.html" %}</div>
      <img class="img-fluid" width="100%" height="400px" alt="PELS" src ="/images/Equipe.png">
      
      <div class="members-container">
        <h1 class="title">Estrutura da Equipe</h1>
        <p class='text'>O Capítulo é formado por coordenações e a diretoria. Na base da estrutura do grupo, as coordenações tem o papel de fazer as atividades gerais do Capítulo como: executar os projetos, organizar eventos, planejar postagens e etc.</p>
        
        <div class="groups-container">
          <a style = "background-image: url(/images/diretoriacard.png)" href="diretoria">
            <div>
              <h2>Diretoria</h2>
              <p>A Diretoria é o grupo que lidera o Capítulo participando das decisões sobre os futuros eventos e projetos da equipe e garante que todas as coordenações caminhem bem integradas. </p>
              <p>Clique aqui para saber mais!</p>
            </div>
          </a>
  
          <a style = "background-image: url(/images/ativcard.png)" href="atividades_academicas">
            <div>
              <h2>Atividades Acadêmicas</h2>
              <p>É responsável pela idealização de eventos como palestras e minicursos que permitam as pessoas se desenvolverem tanto no âmbito pessoal quanto profissional.</p>
              <p>Clique aqui para saber mais!</p>
            </div>
          </a>
  
          <a style = "background-image: url(/images/mktcard.png)" href="marketing">
            <div>
              <h2>Marketing</h2>
              <p>É a coordenação que cuida de toda a exposição dos trabalhos do grupo, da identidade visual e do conteúdo postado nas redes sociais e no site do Capítulo. </p>
              <p>Clique aqui para saber mais!</p>
            </div>
          </a>
  
          <a style = "background-image: url(/images/projcard.png)" href="projetos">
            <div>
              <h2>Projetos</h2>
              <p>Tem como objetivo promover atividades com tecnologia associada à eletrônica de potência e que tenham cunho de aplicação industrial com temas atrelados à sustentabilidade e à eficiência energética.</p>
              <p>Clique aqui para saber mais!</p>
            </div>
          </a>
        </div>
      </div>
  
      <div id="footer">{% include "footer.html" %}</div>     
    </div>
  </body>
</html>
