body{
    font-family: 'Montserrat'!important;
}

.text,
.title{
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: 900;
    padding-top: 30px;
    margin-bottom: 50px;
}

.text{
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%; 
    font-weight: 600;
}

.blog-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    padding-top: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 948px;
    padding-bottom: 20px;
}

.article {
    position: relative;
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 8px 8px 8px 0px rgba(50,50,50,0.45);
    background-color: rgba(0,0,0, 0.3);
    color: white;
}

.article a {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    text-decoration: none !important;
}

.article hr {
    background-color: white;
}

#bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media only screen and (max-width: 1080px) {
    .articles-container {
        grid-template-columns: 1fr 1fr;
        max-width: 624px;
    }
}

@media only screen and (max-width: 800px) {
    .img-fluid{
        display: none;
    }

    .title{
        padding-top: 50px;
    }
}

@media only screen and (max-width: 720px) {
    .articles-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}