body{
    font-family: 'Montserrat'!important;
    height:100vh !important;
}

.text,
.title{
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 50px;
}

.text{
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%; 
    font-weight: 600;
}

.blue{
    background: rgb(92, 120, 135);
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
}

#info{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

#agenda{
    padding-left: 70px;
}

#news{
    padding-left: 14.5%;
}

.info-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
}

.google-agenda{
	width: 100%;
	height: 400px;    
}

@media only screen and (max-width: 1300px) {
    #news{
        padding-left:5%;
    }
}

@media only screen and (max-width: 1150px) {
    #info{
        flex-direction: column;
    }
    #news{
        padding-left:0;
        margin: auto;
        padding-bottom: 30px;
    }
    #agenda{
        padding-left:0;
        margin: auto;
    }

    .text{
        margin-left: 5%;
        margin-right: 5%; 
    }

    .infotext{
        text-align: center;
        font-size:15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #info{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .img-fluid{
        display: none;
    }

    .resume{
        padding-top: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .google-agenda{
        width:90%;
        margin:auto;
        display: flex;
    }

    #info{
        margin-bottom: 60px;
    }
}